html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: #303f9f;
}
.row {
  font-size: 30px;
  display: flex;
  margin-top: 10rem;
  align-items: center;
  justify-content: space-around;
}
.card {
  border: solid 1rem #ffc107;
  padding: 2%;
  border-radius: 2.5rem;
  box-shadow: 1rem 0.5rem 0.5rem black;
  background-color: #448aff;
  font-family: "Oswald", sans-serif;
  font-size: 3rem;
  text-align: center;
  transition: all 0.3s;
}
h1 {
  text-align: center;
  font-size: 10rem;
  font-family: "Oswald", sans-serif;
  animation-duration: 3s;
  animation-name: title;
}
#image {
  width: 30rem;
}
.description {
  text-align: center;
  font-size: 3rem;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  margin: 7rem;
  transition: all 0.5s;
  outline-offset: 0.5rem;
}
#text {
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 1.75rem;
}
#row3 {
  margin-bottom: 10rem;
}
.card:hover {
  transform: scale(1.25);
}
.description:hover {
  outline: 1rem solid black;
  transform: scale(1.06);
}
.icon {
  font-size: 5rem;
  border: #ffc107 solid;
  border-radius: 2rem;
  transition: all 0.7s;
  background-color: #448aff;
}
.icon:hover {
  transform: translate(3rem);
}
#image:hover:not(.card:hover) {
  transform: scale(1.15);
}
#alm {
  width: 30rem;
}
#alm:hover {
  transform: rotate(360deg);
  transition: all 2s;
}
@keyframes title {
  from {
    margin-left: 25%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@media all and (max-width: 1024px) {
  h1 {
    font-size: 7rem;
  }
  #image {
    width: 20rem;
  }
  #alm {
    width: 20rem;
  }
  #text {
    font-size: 1.2rem;
  }
  .row {
    flex-wrap: wrap;
    margin-top: 1rem;
  }
  .row > * {
    margin: 2rem;
  }
  .description {
    font-size: 2.5rem;
  }
}

@media all and (max-width: 768px) {
  h1 {
    font-size: 6rem;
  }
  #image {
    width: 27rem;
  }
  #alm {
    width: 27rem;
  }
  #text {
    font-size: 1.7rem;
  }
  .row {
    flex-wrap: wrap;
  }
  .row > * {
    margin: 2rem;
  }
}

@media all and (max-width: 390px) {
  h1 {
    font-size: 3rem;
  }
  .description {
    font-size: 2rem;
    margin-left: 7rem;
    margin-right: 7rem;
    margin-top: 3rem;
    margin-bottom: 0rem;
  }
  #image {
    width: 25rem;
  }
  #alm {
    width: 25rem;
  }
  .row {
    flex-wrap: wrap;
    margin-top: 2rem;
  }
  .row > * {
    margin: 2rem;
  }
  #text {
    font-size: 1.5rem;
  }
}
