html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: cornflowerblue;
}
.parent {
  font-size: 30px;
  display: flex;
  margin-top: 200px;
  align-items: center;
  justify-content: space-around;
}
.card {
  border: solid 10px red;
  padding: 5%;
  width: 20%;
}
h1 {
  text-align: center;
}
