html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: cornflowerblue;
}
.row {
  font-size: 30px;
  display: flex;
  margin-top: 200px;
  align-items: center;
  justify-content: space-evenly;
}
.card {
  border: solid 1rem red;
  padding: 10%;
  width: 20%;
  border-radius: 2.5rem;
  box-shadow: 1rem 0.5rem 0.5rem black;
  background-color: blanchedalmond;
  font-family: "Oswald", sans-serif;
  font-size: 3rem;
}
h1 {
  text-align: center;
  font-size: 10rem;
  font-family: "Oswald", sans-serif;
}
